{
  "collections": {
    "NN": {
      "types": [
        {
          "id": "press",
          "name": "Prasa",
          "statuses": [
            {
              "id": "prod",
              "name": "Produkcja",
              "tasks": [
                "Kontrola poziomu oleju",
                "Test na sucho"
              ]
            },
            {
              "id": "serwis",
              "name": "Serwis",
              "tasks": [
                "Czyszczenie",
                "Przegląd elementów"
              ]
            }
          ]
        },
        {
          "id": "cutter",
          "name": "Wykrawarka",
          "statuses": [
            {
              "id": "prod",
              "name": "Produkcja",
              "tasks": [
                "Kontrola matrycy"
              ]
            },
            {
              "id": "serwis",
              "name": "Serwis",
              "tasks": [
                "Wymiana noży",
                "Smarowanie"
              ]
            }
          ]
        }
      ]
    },
    "ST": {
      "types": []
    }
  }
}
